aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
black==21.8b0
cffi==1.14.6
chardet==4.0.0
click==8.0.1
discord.py==1.7.3
flake8==3.9.2
idna==3.2
mccabe
multidict
mypy-extensions
pathspec
platformdirs
pycodestyle
pycparser
pyflakes
PyNaCl
regex
six
tomli
typing-extensions
yarl
youtube-dl